@font-face {
	font-family: "gilroy-light";
	src: url(../fonts/Gilroy-Light.woff2) format('woff2'),
	url(../fonts/Gilroy-Light.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: "gilroy-regular";
	src: url(../fonts/Gilroy-Regular.woff2) format('woff2'),
	url(../fonts/Gilroy-Regular.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: "gilroy-medium";
	src: url(../fonts/Gilroy-Medium.woff2) format('woff2'),
	url(../fonts/Gilroy-Medium.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: "playfair-regular";
	src: url(../fonts/playfair-display-regular.woff2) format('woff2'),
	url(../fonts/playfair-display-regular.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: "playfair-medium";
	src: url(../fonts/playfair-display-medium.woff2) format('woff2'),
	url(../fonts/playfair-display-medium.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: "playfair-bold";
	src: url(../fonts/playfair-display-bold.woff2) format('woff2'),
	url(../fonts/playfair-display-bold.woff) format('woff');
	font-style: normal;
}
body, html{
	font-family: "gilroy-regular";
	background-color: #0B1D26;
	color:#fff;
	line-height: 1.4;
}
h1 {
	font-family: "playfair-medium";
}
html::-webkit-scrollbar {
    width: 5px;
    background-color: #3E3E3E;
    border-radius: 8px;
    height: 200px;
}

html::-webkit-scrollbar-thumb {
    background: rgba(173,173,173, 0.6);
    border-radius: 5px;
    height: 100px;
}
.header {
	background: url(../images/header-bg-copy.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 20% center;
	background-attachment: fixed;
	min-height: 100vh;
	padding: 60px 0px 250px;
}
.container {
	width: 100%;
	max-width: 1462px;
	padding: 0 30px;
	margin: 0 auto;
}
.header-top {
	display: flex;
	justify-content: space-between;
}
.nav {
	display: flex;
	align-items: center;
}
.nav-items_inner {
	display: flex;
}
.nav-items {
	position: relative;
	font-size: 20px;
}
.nav-items::before {
	content:"";
	position: absolute;
	bottom:-5px;
	right:0;
	width: 0px;
	height: 2px;
	background-color: #fff;
	transition:0.5s ease-out;
}
.nav-items:hover::before {
	width: 100%;
	left:0;
	transition:0.5s;
}
.nav-items:nth-child(n + 2) {
	margin-left: 40px;
}
.account {
	display: flex;
	align-items: center;
}
.account img {
	margin-right: 20px;
}
.nav-button {
	display: none;
}
.nav-button__lines {
	width: 45px;
	height: 4px;
	background-color: #FBD784;
	transform:none;
	transition:transform 0.3s;
}
.nav-button__lines-active {
	transform:scale(0.5, 0);
}
.nav-button__lines-active:first-child {
	transform:translate(5px, 13px) rotate(-225deg);
	transition:transform 0.3s ease-in-out;
}
.nav-button__lines-active:last-child {
	transform:translate(5px, -14px) rotate(45deg);
	transition:transform 0.3s ease-in-out;
}
.nav-button__lines:nth-child(n + 2) {
	margin-top: 10px;
}
.header-layer {
	position: fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	display: none;
}
@media(max-width: 680px) {
	.header {
		padding-top: 30px;
	}
	.header-layer-active {
		display: block;
	}
	.nav {
		z-index: 3;
		position: fixed;
		top:0;
		right:-100%;
		width: 80vw;
		height: 100vh;
		display: block;
		padding: 20px 0 40px;
		background-color: #000;
		overflow-y: auto;
		transition:right 0.5s;
	}
	.nav-active {
		right:0;
		transition:right 0.5s;
	}
	.nav-button {
		position: fixed;
		z-index: 3;
		top:120px;
		left: calc(100% - 60px);
		display: block;
		transition: left 0.5s ease;
	}
	.nav-button-active {
	left:5px !important;
	transition:left 0.5s ease;
}
	.nav-button__lines-active {
		
	}
	.nav-items_inner {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 100%;
	}
	.nav-items {
		font-size:60px;
		margin-left: 0 !important;
	}
	.nav-items a {
		padding: 20px;
		display: block;
	}
}
@media (max-width: 450px) {
	.nav-items {
		font-size: 45px;
	}
}
.header-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
}
.header-bottom__social-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 40px;
}
.header-bottom__social-block span {
	transform:rotate(90deg) translate(15px, 12px);
	margin-bottom: 50px;
	white-space: nowrap;
}
.header-bottom__social-block a {
	margin-top: 20px;
}
.header-bottom__title-block {
	max-width: 735px;
	margin-left: 10px;
}
.left-line_title {
	position: relative;
	text-transform: uppercase;
	margin-left: 90px;
	color:#FBD784;
}
.left-line_title::before {
		content:"";
	position: absolute;
	top:50%;
	left:-90px;
	transform: translateY(-50%);
	width: 70px;
	height: 2px;
	background-color: #FBD784;
}
.header-bottom__title {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 90px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 6px;
	color:#FBD784;
}

.header-bottom__main-title {
	font-size: 68px;
	margin-bottom: 20px;
}
.scroll-down_link {
	display: flex;
	align-items: center;
	font-size: 18px;
	max-width: 745px;
	margin: 20px auto 0;
}
.scroll-down_link span {
	margin-right: 10px;
}
.header-bottom__start-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 32px;
	margin-left:15px;
	border-right: 2px solid #fff;
	max-height: 100%;
}
.header-bottom__start-block span {
	display: block;
	text-align: right;
	margin-top: 40px;
}
@media (max-width: 950px) {
	.header-bottom__main-title {
		font-size: 60px;
	}
}
@media (max-width:850px) {
	.header-bottom__main-title {
		font-size: 55px;
	}
}
@media (max-width:800px) {
	.header-bottom__main-title {
		font-size: 46px;
	}
}
@media (max-width: 700px) {
	.header-bottom {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.header-bottom__social-block {
		justify-content: center;
		align-self: flex-start;
		max-width: 100%;
		order:4;
	}
	.header-bottom__social-block a {
		margin-top: 0;
		margin-left: 10px;
	}
		.header-bottom__main-title {
		font-size: 50px;
		order: 2;
	}
	.header-bottom__start-block {
		display: none;
	}
	.header-bottom__start-block span {
		margin-top: 20px;
	}
	.header-bottom__title {
		order:1;
	}
	.header-bottom__start-block {
		order:3;
	}
	.scroll-down_link {
		justify-content: center;
	}
}
@media (max-width: 500px) {
	.header-bottom__main-title {
		font-size: 40px;
	}
}
@media (max-width: 410px) {
	.header .left-line_title::before {
		width: 50px;
		left:-60px;
	}
	.header-bottom {
		margin-top: 90px;
	}
	.header-bottom__title {
	margin-left: 50px;
	font-size: 14px;
	}
	.header-bottom__main-title {
		font-size: 30px;
	}
	.header-bottom__start-block {
		padding-right: 10px;
	}
}
.content-section {
	margin-top: -100px;
	padding-bottom: 100px;
}
.content-section .container {
	padding: 0 20px;
}

.content-block {
	display: flex;
	justify-content: space-between;
}
.content-block:nth-child(odd) {
	padding-left: 70px;
}
.content-block:nth-child(even) .content-block__inner {
	margin-left: 130px;
}
.content-block__inner {
	position: relative;
	max-width: 555px;
	margin: 140px 30px 0 0;
}
.content-block:nth-child(n + 2) {
	margin-top: 200px;
}
.content-block__inner::before {
	content:"01";
	width: 160px;
	position: absolute;
	text-transform: uppercase;
	top:0;
	left:0;
	transform:translate(-50%, -50%);
	font-size: 200px;
	font-weight: bold;
	opacity: 0.2;
}
.content-block:nth-child(2) .content-block__inner::before {
	content:"02";
	
}
.content-block:nth-child(3) .content-block__inner::before {
	content:"03";
	
}
.content-block__inner__pre-title {
	margin-bottom: 30px;
}
.content-block__inner__title {
	font-size: 54px;
	margin-bottom: 30px;
}
.content-block__inner__text {
	font-size: 20px;
	margin-bottom: 20px;
}
.content-block__image {
	max-width: 50%;
	max-height: 720px;
}
.content-block__inner_link {
	display: flex;
	align-items: center;
}
.content-block__inner_link span {
	margin-right: 15px;
	color:#FBD784;

}
.content-block:nth-child(3) .content-block__image {

}
@media (max-width: 1100px) {
	.content-block__inner::before {
		font-size:140px;
	}
	.content-block__inner {
		margin-top: 0;
	}
	.content-block .content-block__image {
		max-height: 750px;
	}
}
@media (min-width: 880px) and (max-width: 1000px) {
	.content-block__inner__title {
		font-size: 40px;
	}
	.content-block__inner__text {
		font-size: 18px;
	}
}
@media (max-width: 880px) {
	.content-block {
		flex-direction: column;
	}
	.content-block:nth-child(n + 1) {
		padding-left: 0px;
		
		align-items: center;
	}
	.content-block:nth-child(even) {
		flex-direction: column-reverse;

	}
.content-block:nth-child(even) .content-block__inner {
	margin-left: 0px;
}
.content-block__inner::before {
	transform:translate(0%, -50%);
}
.content-block__inner {
	margin-right: 0;
	margin-bottom: 100px;
}
.content-block__inner:nth-child(n + 2) {}
/*	.content-block:nth-child(3) .content-block__image {
		max-width: 50%;
	}*/
	.content-block__image {
		width: 100%;
		height: 100%;
		max-width: 550px;
		max-height: 100%;
	}
}
@media (max-width: 700px) {
	.content-section {
		margin-top: 0;
		padding-top: 100px;
	}
	.header {
		padding-bottom: 100px;
	}
}
@media (max-width: 420px) {
	.content-block__inner__title {
		font-size:47px;
	}
}
.contact {
	padding: 100px 0;
}
.contact__title {
	text-align: center;
	margin-bottom: 30px;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 700px;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #8a8a8a;
	padding: 50px 20px;
	margin: 0 auto;

}
.form-items {
	max-width: 400px;
	width: 100%;
}
.form__inputs-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-right: 100px;
	margin-bottom: 50px;
}
.input {
	width: 100%;
	color:#fff;
	outline:transparent;
	border:none;
	border-bottom:1px solid #fff;
	padding: 15px 30px;
	background-color: transparent;
}
.input:nth-child(n+2) {
	margin-top: 50px;
}
.textarea {
	width: 100%;
	height: 100px;
	background-color: transparent;
	resize: none;
	outline: none;
	border:1px solid #fff;
	color:#fff;
	border-radius: 10px;
	padding: 15px;
}
.textarea:focus {

}
.button {
	position: relative;
	margin:40px auto 0 auto;
	padding: 15px 20px;
	border:none;
	outline:none;
	border-radius: 10px;
	width: 120px;
	color:#fff;
	background-color: #4c4c4c3b;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
	transition:all 0.3s;
}

.button_line{
	position:absolute;
	display:block;
	box-shadow: 0 0 12px #2196f3;
}
.button_line_top {
	top:0;
	left:-100%;
	width:100%;
	height:2px;
	background:linear-gradient(90deg, transparent,#2196f3);
}
.button:hover .button_line_top{
	left:100%;
	transition:1.5s;
	transition-delay:0.4s;
}
.button_line_bottom {
	bottom:0;
	right:-100%;
	width:100%;
	height:2px;
	background:linear-gradient(270deg, transparent,#2196f3);
}
.button:hover .button_line_bottom{
	right:100%;
	transition:1.5s;
	transition-delay:0.4s;
}
.button_line_left {
	bottom:-100%;
	left:0;
	width:2px;
	height:100%;
	background:linear-gradient(0deg, transparent,#2196f3);
}
.button:hover .button_line_left{
	bottom:100%;
	transition:1.5s;
}
.button_line_right {
top:-100%;
right:0;
width:2px;
height:100%;
background:linear-gradient(180deg, transparent,#2196f3);
}
.button:hover .button_line_right{
top:100%;
transition:1.5s;
transition-delay:0s;
}
.button:hover{
box-shadow:0px 0px 10px #2196f3, 0px 0px 40px #2196f3;
transition:all 0.6s;
transition-delay:1s;
background-color:#2196f3;
color:#333;
}

.footer {
	padding: 100px 0px 50px;
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
}
.footer__left-block {
	
}
.footer__left-block__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	max-width: 520px;
	margin-right: 90px;
}
.footer__left-block h1 {
	margin-bottom: 25px;
}
.footer__left-block p {
	font-size: 22px;
}
.footer__left-block div {
	margin-top: auto;
}
.footer__right-block {
	width: 566px;
}
.footer__right-block {
	display: flex;
	justify-content: space-between;
}
.footer__right-block__column:first-child {
	margin-right: 30px;
}
.footer__right-block__title {
	color:#FBD784;
}
.right-block__list {
	margin-top: 25px;
}
.list-item {
	color:#fff;
	transition:color 0.2s;
}
.list-item:hover {
	color:#333;
}
.list-item:nth-child(n + 2) {
	margin-top: 20px;
}
.right-block__inner {
	margin-top: 25px;
}
.list-item:nth-child(n + 2) {
	margin-top: 20px;
}
@media (max-width: 880px) {
	.footer {
		padding: 100px 0px 50px;
	}
}
@media (max-width: 710px) {
	.footer__wrapper {
		flex-direction: column;
		align-items: center;
	}
	.footer__left-block__content {
		margin-right: 0;
	}
	.footer__left-block {
		width: 100%;
		margin: 0 auto;
	}
	.footer__left-block h1 {
		text-align:center;
	}
	.footer__left-block p, .footer__left-block div {
		text-align:center;
	}
	.footer__right-block {
		margin-top: 40px;
		display: block;
	}
	.footer__left-block, .footer__right-block {
		width: 100%;
		max-width: 566px;
	}
	.footer__right-block {
		flex-direction: column;
		margin-right: 0;
	}
	.footer__right-block__column {
		margin-right: 0 !important;
	}
	.footer__right-block__column:nth-child(n + 2) {
		margin-top: 40px;

	}
	.footer__right-block__title {
		text-align:center;
	}
	.right-block__list li {
		text-align:center;
	}
}
