@font-face {
	font-family: 'Geometria-light';
	src: url(../fonts/Geometria-light.woff2) format('woff2'),
	url(../fonts/Geometria-light.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'Geometria-regular';
	src: url(../fonts/Geometria-regular.woff2) format('woff2'),
	url(../fonts/Geometria-regular.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'Geometria-medium';
	src: url(../fonts/Geometria-medium.woff2) format('woff2'),
	url(../fonts/Geometria-medium.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'Geometria-extrabold';
	src: url(../fonts/Geometria-extrabold.woff2) format('woff2'),
	url(../fonts/Geometria-extrabold.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'Geometria-heavy';
	src: url(../fonts/Geometria-heavy.woff2) format('woff2'),
	url(../fonts/Geometria-heavy.woff) format('woff');
	font-style: normal;
}
