@font-face {
	font-family: 'Geometria-light';
	src: url(../fonts/geometria/Geometria-Light.woff2) format('woff2'),
	url(../fonts/Geometria-Light.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'Geometria-regular';
	src: url(../fonts/geometria/Geometria-Regular.woff2) format('woff2'),
	url(../fonts/Geometria-Regular.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'Geometria-medium';
	src: url(../fonts/geometria/Geometria-Medium.woff2) format('woff2'),
	url(../fonts/Geometria-Medium.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'Geometria-extrabold';
	src: url(../fonts/geometria/Geometria-Extrabold.woff2) format('woff2'),
	url(../fonts/Geometria-Extrabold.woff) format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'Geometria-heavy';
	src: url(../fonts/geometria/Geometria-Heavy.woff2) format('woff2'),
	url(../fonts/Geometria-Heavy.woff) format('woff');
	font-style: normal;
}
