body,html {
	font-family: 'Geometria-regular';
	overflow-anchor: none;
}
h1,h2,h3 {
	font-family: 'Geometria-extrabold';
}
button {
	font-family: 'Geometria-medium';
}
.hover-button {
	background-color: #2A94E2;
	border: 1px solid #2A94E2;
	transition: background-color, color, 0.4s ease;
}
.hover-button:hover {
	background-color: #332b2b;
	border-color: #332b2b;
}
.container {
	width: 100%;
	max-width: 1190px;
	padding: 0 25px;
	margin: 0 auto;
}
.header {
	background-image: url("../img/header/banner-image-4-copy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px 0 70px;
	font-size: 20px;
	color: #fff;
}
.container {}
.header-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
.nav {
	position: fixed;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 100px 0;
	background-color: #535860;
	z-index: 10;
	transition: left 0.5s;
	overflow-y: auto;
}
.nav-active {
	left:0;
}
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nav__items-inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 50px;
	display: block;
}
.nav__link-item {
	font-size: 2.4em;
	transition: color 0.3s;
}
.nav__link-item:hover {
	color: rgba(3,3,3,0.5);
}
.nav__link-item a {
	display: block;
	padding: 5px;
}
.nav__info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: space-between;
}
.nav-logo {
	
}
.nav-wrapper .call {
	margin-top: 30px;
}
.menu {
	display: flex;
	cursor: pointer;
	margin-right: 30px;
	z-index: 15;
}
.menu-active {

}
.menu__button + span {
	margin-left: 10px;
	opacity: 1;
	transition:opacity 0.3s ease-out;
}
.menu__button {
	position: relative;
	width: 40px;
	height: 30px;
}
.menu__button::before,
.menu__button::after {
	content: "";
	position: absolute;
	height: 3px;
	background-color: #2A94E2;
}
.menu__button::before{
	width: 100%;
	top: 0;
	transition:0.3s;
}
.button__line {
	position: absolute;
	top: 50%;
	transform: scale(1) translateY(-50%);
	width: 75%;
	height: 3px;
	background-color: #2A94E2;
	transition:transform 0.2s;
}
.menu__button::after {
	width: 50%;
	bottom: 0;
	transition:0.4s ease;
}
.menu__button-active::before {
	transform:rotate(45deg);
	top:13.5px;
}
.menu__button-active::after {
	transform:rotate(-225deg);
	width: 40px;
	bottom:14px;
}
.menu__button-active .button__line {
	transform:scale(0.5, 0);
	transition:0.4s ease;
}
.menu__button-active+span {
	opacity: 0;
}
.logo {
	display: flex;
	align-items: center;
	margin-right:30px;
	cursor: pointer;
}
.logotype__image {
	
}
.logo__name {
	font-family: 'Geometria-medium';
	font-size: 1.1em;
	line-height: 1.1;
	margin: 0 20px 0 13px;
}
.logo__description {
	max-width: 220px;
	font-size: 0.9em;
	font-family: 'Geometria-light';
}
.call {
	text-align: center;
}
.phone-number {
	font-size: 1.5em;
}
.call__button {
	font-family: 'Geometria-medium';
	display: block;
	padding: 17px 22px;
	border-radius: 5px;
	text-align: center;
	margin-top: 15px;
	color:#fff;
}
.header__main {
	margin-top: 30px;
}
.main__title {
	max-width: 586px;
	font-size: 3rem;
	line-height: 75px;
}
.main__sub-title {
	margin-top: 50px;
	max-width: 540px;
	font-size: 1.1em;
}
.main__about {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 834px;
	flex-wrap: wrap;
}
.main__about__item {
	display: flex;
	align-items: center;
	margin-right: 20px;
	margin: 5px 20px 5px 0;
}
.main__about__item:last-child {
	margin-right: 0px;
}
.about__item__number {
	font-size: 4em;
	line-height: 2em;
	margin-right: 20px;
}
.about__item__text {
	max-width: 130px;
	font-size:0.8em;
}
.get-champagne {
	margin-top: 57px;
	display: flex;
	align-items: center;
}
.get-champagne__image {}
.get-champagne__text {
	max-width: 376px;
	margin-left: 20px;
}
.get-champagne__text span {
	font-family: 'Geometria-extrabold';
}
.find-property {
	width: 100%;
	max-width: 325px;
	margin-top: 43px;
	display: inline-block;
	padding: 17px 15px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
}
.test {
	padding: 87px 0 30px;
}
.container {}
.test__title {
	text-align: center;
	font-size: 22px;
	line-height: 33px;
	margin-bottom: 10px;
}
.test__sub-title {
	text-align: center;
	margin-bottom: 42px;
}
.test__wrapper {
	display: flex;
	border: 3px solid #F6F6F6;
}
.test .swiper-container {
	max-width: 780px;
}
.swiper-wrapper {

}
.test__question {
	padding: 2.6em 2.6em 0 2.6em;
	border-right: 3px solid #F6F6F6;
}
.swiper-slide {}
.question__title {
	margin-bottom: 30px;
}
.question__body {
	display: flex;
	justify-content: center;
}
.question__item {
	cursor: pointer;
	padding: 10px;
	border: 2px solid transparent;
	border-radius: 5px;
	transition: 0.2s ease-out;
	margin-right: 30px;
}
.question__item:hover {
	border: 2px solid #4FEF00;
}
.question__item:last-child {
	margin-right: 0px;
}
.question__item-active {
	border: 2px solid #4FEF00;
}
.queastion__image {}
.question__answer {
	text-align: center;
	font-family: 'Geometria-medium';
	margin-top: 1.4em;
}
.question__pagination {
	padding: 0px 0px 0px 0;
	margin-top: 25px;
	border-top: 3px solid #F6F6F6;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.answer-count {
	margin-right: 20px;
}
.next-text {
	margin-right: 15px;
}
.swiper-button-next {
	position: static;
	cursor: pointer;
	width: auto;
	margin-top: 0;
}
.swiper-button-next:after {
	display: none;
}
.test__question,.test__content {
	padding: 2.6em 1.9em 0 2.6em;
}
.test__content__item {
	display: flex;
	align-items: flex-start;
	min-width: 270px;
	font-size: 1em;
}
.test__content__item:nth-child(n+2) {
	margin-top: 30px;
}
.test__content__item-image {
	margin-right: 28px;
	line-height: 26px;
}
.test__content__item-text {}

.services {
	padding: 30px 0;
	font-size: 16px;
}
.services_title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 24px;
}
.services__wrapper {
	display: grid;
	grid-template-columns: repeat(3, 374px);
	grid-template-rows: repeat(3, 300px);
	justify-content: center;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	color: #fff;
}
.services__item {
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 40px 20px 0;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.services__item-active .services__item-dark-bg {
	opacity: 1;
}
.services__item-dark-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	z-index: -1;
	pointer-events: none;
	transition: opacity 0.3s ease;
}
.services__item-1 {
	background-image: url(../img/services/living-property.jpg);
	grid-column: 1;
	grid-row: 1/3;
}
.services__item-2 {
	background-image: url(../img/services/profit-property.jpg);
	grid-column: 2;
	grid-row: 1;
}
.services__item-3 {
	background-image: url(../img/services/invest-property.jpg);
	grid-column: 3;
	grid-row: 1;
}
.services__item-4 {
	background-image: url(../img/services/acht.jpg);
	grid-column: 2/4;
	grid-row: 2;
}
.services__item-5 {
	background-image: url(../img/services/control.jpg);
	grid-column: 1/3;
	grid-row: 3;
}
.services__item-6 {
	background-image: url(../img/services/consierge.jpg);
	grid-column: 3;
	grid-row: 3;
}
.services__item-title {
	font-size: 18px;
}
.services__item-active .services__item-accordeon{
}
.services__item-active .services__item-text {
	opacity: 1;
}
.services__item-accordeon {
	overflow: hidden;
	overflow-y: auto;
	padding-bottom: 30px;
	transition: max-height 0.4s ease;
	scrollbar-width:none;
}
.services__item-accordeon::-webkit-scrollbar {
	width: 0px;
}
.services__item-accordeon::-ms-scrollbar {
	width: 0px;
}
.services__item-active .services__item-accordeon::-webkit-scrollbar {
	width: 5px;
}
.services__item-active .services__item-accordeon::-webkit-scrollbar-thumb {
    
    border-radius: 5px;
    height: 5%;
}
.services__item-text {
	font-size: 1em;
	max-width: 350px;
	opacity: 0;
	transition: 0.5s ease;
}
.learn-more {
	position: relative;
	bottom: 15px;
	left: 0;
	opacity: 0;
	padding: 10px 0;
	width: 100%;
	max-width: 300px;
	text-align: center;
	border-radius: 5px;
	align-self: flex-start;
	transition: all 0.4s;
}
.learn-more:hover {
	background-color: #505050;
	border-color: #505050;
}
.services__item-active .learn-more {
	opacity: 1;
	transition: all 0.3s;
}
.apartaments {
	padding: 30px 0;
}
.apartaments__title {
	margin-bottom: 20px;
}
.apartaments__sub-title {}
.apartaments__filter {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin:40px 0;
}
.filter-item {
	padding: 20px 35px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.3s; 
	margin: 10px;
}
.filter-item-active {
	background-color: #2A94E2;
	color:#fff;
}
.apartaments__body {
	overflow: hidden;
	transition:max-height 1s ease-out;
}
.apartaments__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
	grid-row-gap: 30px;
	grid-column-gap: 30px;
	justify-content: center;
	overflow: hidden;
	transition: all 0.5s ;
}
.apartaments__show-more {
	width: 100%;
	cursor: pointer;
	text-align: center;
	margin-top: 40px;
	padding: 15px 0;
	border: 1px solid transparent;
	background-color: #F6F6F6;
	transition:all 0.3s;
	display: block;
}
.apartaments__show-less:hover, .apartaments__show-more:hover {
	border: 1px solid rgba(3,3,3,0.3);
}
.apartaments__show-more img {
	margin-left: 10px;
}
.apartaments__show-less {
	width: 100%;
	display: none;
	cursor: pointer;
	text-align: center;
	margin-top: 40px;
	padding: 15px 0;
	background-color: #F6F6F6;
	border: 1px solid transparent;
	transition:all 0.3s;
}
.apartaments__item {
	max-width: 555px;
	margin: 0 auto;
	cursor: pointer;
}
.apartaments__item-hide {
	display: none;
}

.apartaments__item__inner {
	padding: 0 30px;
	margin-top: 30px;
}
.apartaments__item_image {
	object-fit: cover;
}
.apartaments__item__title {
	margin-bottom: 10px;
}
.apartaments__item__lot {
	display: inline-block;
	font-family: 'Geometria-light';
}
.apartaments__item__parameters {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap:30px;
	justify-content: space-between;
}
.apartaments__item__price {
	font-family: 'Geometria-light';
	font-size: 33px;
	line-height: 1;
}
.apartaments__item__area, .apartaments__item__floor  {
	width: 130px;
}
.apartaments__item__price-per-meter {
	font-family: 'Geometria-light';
}
.apartaments__item__button {
	text-align: center;
	padding: 15px 0;
	margin-top: 15px;
	display: block;
	background-color: #F6F6F6;
	transition: all 0.3s;
}
.apartaments__item__button:hover {
	background-color: #2A94E2;
	color:#fff;
}
.experience {
	padding: 65px 0;
	background-color: #F6F6F6;
	font-size: 16px;
}
.experience__wrapper {
	display: flex;
	justify-content: space-between;
}
.experience__left-block {
	max-width: 555px;
	display: flex;
	flex-direction: column;
	margin-right: 15px;
}
.experience__title {
	font-size:2.2em;
	margin-bottom: 40px;
}
.experience__text {
	margin-bottom: 20px;
	line-height: 26px;
	font-size: 1em;
}
.experience__link {
    padding: 15px 0;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    width: 270px;
}
.learn-more {}
.expirience__right-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 555px;
}
.experience .slider-wrapper {
	max-height: 450px;
}
.experience .swiper-slide {
	object-fit: cover;
	object-position: center center;
}
.right-block-slide {
	height: 100%;
}
.experience__image {
	width: 555px;
	height: 400px;
	object-fit:cover;
	object-position: center center;
}
.experience__image-pg {

	cursor: pointer;
}
.experience__slider-pagination .swiper-slide {
	pointer-events: auto;
	transition:border 0.3s;
}
.experience__slider-pagination {
	position: static;
	margin-top: 10px;
}
.experience .swiper-pagination {

}
.experience__image-pg-active {
	display: none;
}
.experience__image-pg {
	height: 100%;
	width: 150px;
	object-fit: cover;
	border:3px solid transparent;
	transition:border 0.3s;
}
.experience__image-pg:hover {
	border:3px solid #127BC5;
}
.experience__image-chosen {

}
.direction {
	padding: 60px 0;
}
.direction__title {
	font-size: 35px;
	line-height: 35px;
	text-align: center;
}
.direction__wrapper {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
	grid-row-gap: 30px;
	grid-column-gap: 30px;
}
.direction__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 35px 50px 15px;
	border:1px solid #2A94E2;
	border-radius: 5px;
	position: relative;
}
.direction__card::before {
	content:'';
	position: absolute;
	left: 0px;
	top:50%;
	transform: translateY(-50%);
	background:url(../img/direction/decor-el.svg) no-repeat;
	height: 100%;
	width: 15px;
}
.direction__card-title {
	font-size: 22px;
	line-height: 33px;
}
.direction__card-content {
	margin-top: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.direction__card-info {
	margin-right: 20px;
	min-width: 190px;
}
.director {
	margin-bottom: 10px;
}
.director-name {
	margin-bottom: 20px;
}
.phone-nubmer {
	margin-bottom: 23px;
	font-size:25px;
	line-height: 40px;
}
.email {
	display: block;
}
.direction__card-image {
	align-self: flex-end;
}
.direction__footer {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.direction__footer-item {
	max-width: 280px;
	line-height: 45px;
	font-size: 18px;
	margin: 7px 7px 7px 7px;
	color:#2A94E2;
	text-decoration: underline;
	transition:color 0.3s;
}
.direction__footer-item:last-child {
	margin-right: 0;
}
.direction__footer-item:hover {
	color: rgba(3,3,3,0.7);
}
.agency-director {
	padding: 60px 0 0;
	background:  #EEF3FA;
}
.agency-director .container {
	position: relative;
	z-index: 1;
}
.agency-director__img {
	position: absolute;
	bottom:0;
	right: 0;
	z-index: -1;
}
.agency-director__title {
	font-size: 35px;
	line-height: 48px;
	max-width: 485px;
}
.agency-director__wrapper {
	margin-top: 20px;
	padding-bottom: 60px;
	max-width: 684px;
}
.agency-director__name {
	line-height: 33px;
}
.agency-director__text {
	font-size: 16px;
	line-height: 26px;
	margin-top: 30px;
}
.agency-director__link {
	padding: 15px 60px;
	display: inline-block;
	color:#fff;
	margin-top: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
}

.agency-director__img {}
.footer {
	padding: 40px 0;
	color:#fff;
	background-color: #535860;
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
}
.footer__column {
	margin: 0 20px 20px 0;
}
.footer__column:last-child{
	margin: 0;
}
.work-time, .inn {
	line-height: 23px;
	font-size: 13px;
}
.inn span:nth-child(n+2) {
	margin-left: 45px;
}
.footer__column-text {
	max-width: 320px;
}
.footer__column-text:nth-child(n+2) {
	margin-top: 20px;
}
.work-time {}
.footer .logo__image {}
.footer .logo__name {}
.footer .logo__description {
	max-width: 180px;
}
.footer .email {
	text-align: center;
}
.footer__call-button {
	background-color: #fff;
	color:#000;
	border-color: transparent;
}
.footer .call__button:hover {
    color: #fff;
}
.footer .phone-number {
	font-size: 30px;
}
.email {}
.phone-number, .email {
	transition:color 0.2s;
}
.phone-number:hover, .email:hover {
	color: rgba(3,3,3,0.5);
}
.call__button {}
