@media (max-width: 1300px) {
	.header {
		font-size: 19px;
	}
}
@media (max-width: 950px) {
	.header {
		font-size: 18px;
	}
	.header-info {
		/*justify-content: center;*/
	}
	.menu {
/*		position: fixed;
		left:40px;*/
	}
	.call {
		font-size: 0.9em;
	}
	.header .logo {
		margin-right: 0;
}
	.about__item__number {
		line-height: 1.2em;
	}
}
@media (max-width: 880px) {
	.header {
		font-size: 17px;
	}
	.about__item__number {
		font-size: 3em;
		margin-right: 10px;
	}
}
@media (max-width: 800px) {
	.header {
		font-size: 16px;
	}
	.phone-number {
		font-size: 1.3em;
	}
}
@media (max-width: 430px) {
	.header .logo__description {
		display: none;
	}
	.logo__name {
		margin-right: 0;
	}
}
@media (max-width: 750px) {
	/*.header-info {
		justify-content: flex-end;
	}
	.menu {
		position: fixed;
		top:50px;
		left:30px;
	}*/
	.logo__description {
		max-width: 180px;
	}
	.header .call {
		display: none;
	}
	.header .logo img {
		max-width: 30%;
	}
	.about__item__number {
		font-size: 3em;
		margin-right: 10px;
	}
}
@media (max-width: 720px) {
	.about__item__number {
		font-size: 2.5em;
	}
	.about__item__text {
		max-width: 100px;
	}
}
@media (max-width: 600px) {
	.about__item__text {
		max-width: min-content;
	}
}
@media(max-width: 550px) {
	.main__title {
		font-size: 2.5em;
		line-height: 65px;
	}
}
@media(max-width: 450px) {
	.main__title {
		font-size: 2em;
		line-height: 55px;
	}
	.main__sub-title {
		font-size: 0.9em;
	}
	.get-champagne__text {
		font-size: 14px;
	}
}
@media(max-width: 370px) {
	.main__title {
		font-size: 1.5em;
		line-height: 45px;
	}
}
@media (max-width: 500px) {
	.about__item__number {
		font-size: 2em;
	}
	.about__item__text {
		font-size: 0.6em;
	}
}
@media (max-width: 1200px) {
	.test {
		font-size: 14px;
	}
	.test__content__item {
		/*font-size: 0.9em;*/
	}
}
@media (max-width: 1050px) {
	.test {
		font-size: 13px;
	}
}
@media (max-width: 1000px) {
	.test__question,.test__content {
		padding: 1.6em 0.9em 1.6em  1.6em;
	}
	.test__question {
		padding-bottom: 0;
	}
}
@media (max-width: 900px) {
	.test {
		font-size: 16px;
	}
	.test__wrapper {
		flex-wrap: wrap;
	}
	.test__question {
		border-right:none;
		border-bottom: 3px solid #F6F6F6;
	}
}
@media (max-width: 800px) {
	.test {
		font-size: 15px;
	}
	.test__content__item-text {
		max-width: 500px;
	
} 
}
@media (max-width: 700px) {
	.test {
		font-size: 14px;
	}
}
@media (max-width: 600px) {
	.test {
		font-size:16px;
	}
	.question__body {
		flex-direction: column;
		align-items: center;
	}
	.question__item {
		margin-right: 0;
		margin-bottom: 20px;
		width: 100%;
		max-width: 450px;
	}
	.queastion__image {
		width: 100%;
	}
	.test__question {
		padding-bottom: 0;
	}
	.test__content__item {
		min-width: auto;
	}
}
@media (max-width:500px) {
	.test {
		font-size:14px;
	}
}
@media (max-width: 400px) {
	.question__pagination {
		margin-top: 10px;
	}
	.next-text + img {
		width: 18px;
	}
}
@media (max-width: 350px) {
	.test__content__item,.answer-count {
		font-size: 12px;
	} 
}
@media(max-width: 1200px) {
	.services {
		font-size: 15px;
	}
	.services__wrapper {
		grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
	}
	.services__item {
		grid-column: auto;
		grid-row: auto;
		
	}
}
@media (max-width: 910px) {
	.services {
		font-size: 14px;
	}

	.services__wrapper {
		grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	}
	.services__item {
		min-height: 300px;
	}
}

@media (max-width: 800px) {
	.services {
		font-size: 12px;
	}
}
@media (max-width: 350px) {
	.services__item-title {
		font-size: 16px;
	}
}
@media (max-width: 500px) {
	.apartaments__wrapper {
		grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	}
	.apartaments__item__parameters {
		
	}
	.apartaments__item {

	}
	.apartaments__item__area, .apartaments__item__floor {
		max-width: 110px;
	}
	.apartaments__item__price {
		font-size: 25px;
	}
	.apartaments__item__area {
		font-size: 14px;
	}
}
@media (max-width: 470px) {
	.filter-item {
		padding: 15px 15px;
	}
}
@media (max-width: 380px) {
	.filter-item {
		font-size: 12px;
	}
}
@media (max-width: 1100px) {
	.experience {
		font-size: 14px;
	}
	.experience .slider-wrapper {
		max-height: 350px;
	}
}
@media (max-width: 900px) {
	.experience__left-block {
		font-size: 12px;
	}
}
@media (max-width: 800px ) {
	.experience__wrapper {
		flex-direction: column;
	}
	.experience__left-block {
		margin: 0 auto 50px;
	}
	.experience__text {
		font-size: 1.2em;
	}
	.experience .slider-wrapper {
		max-height: 100%;
	}
	.experience .right-block-slide {
		height: 100%;
	}
	.experience__slider-pagination 
	.experience__left-block {
		margin: 0 auto 30px;
	}
}
@media (max-width: 700px) {
	.experience__slider-pagination {
		flex-wrap: wrap;
	}
}
@media (max-width: 1100px) {
	.direction__card-content {
		margin-top: 30px;
	}
	.direction__card {
		padding: 25px 35px 15px;
	}
}
@media (max-width: 1000px) {
	.direction__card-title {
		font-size: 20px;
	}
	.direction__card-content {
		margin-top: 20px;
	}
	.direction .director-name {
		font-size: 16px;
	}
	.direction .phone-nubmer {
		font-size: 22px;
	}
	.direction__footer-item {
		font-size: 17px;
		line-height: 35px;
	}
}
@media (max-width: 900px) {
	.direction__wrapper {
		grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
	}
	.direction__card {
		padding-right: 20px;
	}
	.direction__card-image {
		max-width: 35%;
	}
	.direction__footer-item {
		font-size: 15px;
		line-height: 25px;
		max-width: 240px;
	}
}
@media (max-width: 800px){
		.direction__card-image {
			max-width: 30%;
		}
		.direction__footer {
			flex-wrap: wrap;
		}
		
	}
	@media (max-width: 640px) {
		.direction__footer {
			flex-direction: column;
			align-items: center;
		}
		.direction__footer-item {
			font-size: 22px;
			max-width: 350px;
			line-height: 45px;
			margin: 0 0 20px 0;
		}
	}
	@media (max-width: 500px ) {
		.direction__footer-item {

		}
	}
	@media (max-width: 400px ) {
		.direction__footer-item {
			font-size: 20px;
		}
	}
		@media (max-width: 350px ) {
		.direction__footer-item {
			font-size: 17px;
		}
	}
	@media (max-width: 450px) {
		.direction__wrapper {
			grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
		}
	}
	@media (max-width: 400px ) {
		.direction__card-title {
			font-size: 18px;
		}
		.direction__card-content {
			margin-top: 15px;
		}
		.direction__card-info {
			min-width: auto;
			margin-right: 10px;
		}
		.direction .director-name {
			font-size: 13px;
			margin-bottom: 10px;
		}
		.direction .phone-nubmer {
			font-size: 17px;
		}
		.email  {
			font-size: 14px;
		}
	}
@media (max-width: 1000px) {
	.agency-director__wrapper {
		max-width: 550px;
	}
	.agency-director__img {
		width: 45%;
	}
}
@media (max-width: 900px) {
	.agency-director__wrapper {
		max-width: 450px;
	}
}
@media (max-width: 800px) {
	.agency-director__text {
		margin-top: 20px;
	}
}
@media (max-width: 600px) {
	.agency-director__img {
		display: none;
	}
}
@media (max-width: 450px) {
	.agency-director__title {
		font-size: 30px;
		line-height: 35px;
	}
}
@media (max-width: 400px) {
	.agency-director__title {
		font-size: 26px;
	}
}
@media (max-width: 1100px) {
	.footer__column-text {
		max-width: 250px;
	}
	.footer .phone-number {
		font-size: 23px;
	}
}
@media (max-width: 1000px) {
	.footer .phone-number {
		
	}
	
}
@media (max-width: 900px) {
	.footer__wrapper {
		flex-wrap: wrap;
	}
	.footer .phone-number {
		font-size: 30px;
	}
}
@media (max-width: 700px) {
	.footer__wrapper {
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		max-width: max-content;
	}
	.footer__column {
		margin-right: 0;
	}
	.footer__column-text {
		max-width: 300px;
	}
	.work-time, .inn {
		font-size: 12px;
	}
}
@media (max-width: 400px) {
	.footer .phone-number {
		font-size: 25px;
	}
	.inn span:nth-child(n+2) {
    margin-left: 20px;
}
}